<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CCSM_Home_URL</key>
	<string>https://ccsm-dev-api.forsta.io</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Forsta</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Relay</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>org.forsta.relay</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>sgnl</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>107</string>
	<key>FLSupermanID</key>
	<string>1e1116aa-31b3-4fb2-a4db-21e8136d4f3a</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>402e249164f7a639103f082f592a694e92ff9318</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LOGS_EMAIL</key>
	<string>support@forsta.io</string>
	<key>LOGS_URL</key>
	<string>https://github.com/ForstaLabs/relay-ios/issues</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.social-networking</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>forsta.io</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>forsta.services</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Forsta Relay needs to use Apple Music to play media attachments.</string>
	<key>NSCameraUsageDescription</key>
	<string>Forsta Relay will let you take a photo to send to your contacts. You can review it before sending.</string>
	<key>NSContactsUsageDescription</key>
	<string>Forsta Relay uses your contacts to find users you know. We do not store your contacts on the server.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Forsta Relay needs access to your microphone to make and receive phone calls.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Forsta Relay will let you choose which photos from your library to send.</string>
	<key>TSS_Server_API</key>
	<string>ws://forsta-signalserver-dev.herokuapp.com/v1/websocket/</string>
	<key>TSS_Server_Port</key>
	<integer>80</integer>
	<key>TSS_Server_URL</key>
	<string>http://forsta-signalserver-dev.herokuapp.com/</string>
	<key>TSS_Serveraddress</key>
	<string>forsta-signalserver-dev.herokuapp.com</string>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeCompose</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>New Message</string>
			<key>UIApplicationShortcutItemType</key>
			<string>org.forsta.relay.quickCompose</string>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>Launch Screen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
